### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the number of the total players
players_count = len(purchase_data["SN"].unique())
summary_df = pd.DataFrame({"Total Players": [players_count],
                             })              
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the Purchasing Analysis 
items_count = len(purchase_data["Item Name"].unique())
average_price = "${:.2f}".format(purchase_data["Price"].mean())
purchase_count = len(purchase_data["Purchase ID"].unique())
revenue_count = "${:,.2f}".format(purchase_data["Price"].sum())
summary_df = pd.DataFrame ({"Number of Unique Items": [items_count],
                            "Average Price":[average_price],
                            "Number of Purchases": [purchase_count],
                            "Total Revenue": [revenue_count],                          
                           }) 
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# First filter per gender and delete duplicate values in SN
gender_sn = pd.DataFrame(purchase_data.drop_duplicates(subset="SN").groupby(["Gender"]).count())

# Rename variable
gender_sn["Total Count"] = gender_sn["Purchase ID"]

# Calculate percentage
gender_sn["Percentage of Players"] = (gender_sn["Total Count"]/players_count)*100

# printing the columns needed and formatting
gender_sn.sort_values('Total Count', ascending=[False])[['Total Count','Percentage of Players']].style.format({'Percentage of Players':'{:.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

purchasing_df = purchase_data[["Purchase ID", "SN", "Gender", "Price"]]

purchasing_gender = pd.DataFrame(purchasing_df.groupby(["Gender"]).count()["Purchase ID"])

purchasing_gender["Purchase Count"] = purchasing_gender["Purchase ID"]

purchasing_gender["Total Purchase Value"] = (purchasing_df.groupby(["Gender"]).sum()["Price"]).round(2)

purchasing_gender ["Average Purchase Price"] = (purchasing_gender["Total Purchase Value"]/purchasing_gender["Purchase Count"]).round(2)

purchasing_gender ["Avg Total Purchase per Person"] = (purchasing_gender["Total Purchase Value"]/gender_sn["Total Count"]).round(2)

purchasing_gender = purchasing_gender [["Purchase Count",
                                       "Average Purchase Price",
                                       "Total Purchase Value",
                                       "Avg Total Purchase per Person"]]


purchasing_gender["Total Purchase Value"] = purchasing_gender["Total Purchase Value"].map(
    "${0:,.2f}".format)

purchasing_gender["Average Purchase Price"] = purchasing_gender["Average Purchase Price"].map(
    "${0:,.2f}".format)
purchasing_gender["Avg Total Purchase per Person"] = purchasing_gender["Avg Total Purchase per Person"].map(
    "${0:,.2f}".format)

purchasing_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
ages_df = purchase_data[["Purchase ID", "SN", "Age"]]
                        
ages_demo = ages_df[["Purchase ID", "SN", "Age"]]
                    
# Create the bins in which Data will be held

bins = [0,9,14,19,24,29,34,39,100]

age_ranges_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39", "40+"]


ages_demo["Age Ranges"] = pd.cut(ages_demo["Age"], bins, labels=age_ranges_names, include_lowest=True)

# Delete duplicate values SN
ages_demo = ages_demo.drop_duplicates(subset="SN")

# Creating a group based off of the bins
ages_demo = ages_demo.groupby(["Age Ranges"]).count()

# Rename column
ages_demo["Total Count"] = ages_demo["Purchase ID"]

# Calculate percentage
ages_demo["Percentage of Players"] = ((ages_demo["Total Count"]/players_count)*100).round(2)

# Cleaning dataframe
ages_demo = ages_demo [["Total Count",
                        "Percentage of Players"]]

# Formatting
ages_demo["Percentage of Players"] = ages_demo["Percentage of Players"].map(
    "{0:,.2f}%".format)

ages_demo

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchasing_age_df = purchase_data[["Age","Purchase ID", "SN", "Price"]]

purchasing_age = pd.DataFrame(purchasing_age_df)

# Associatting the bins
purchasing_age["Age Ranges"] = pd.cut(purchasing_age["Age"], bins, labels=age_ranges_names, include_lowest=True)

# Creating a group based off of the bins
purchasing_age = purchasing_age.groupby(["Age Ranges"]).count()


purchasing_age["Purchase Count"] = purchasing_age["Purchase ID"]

purchasing_age["Total Purchase Value"] = (purchasing_age_df.groupby(["Age Ranges"]).sum()["Price"]).round(2)

purchasing_age["Average Purchase Price"] = (purchasing_age["Total Purchase Value"]/purchasing_age["Purchase Count"]).round(2)

purchasing_age["Avg Total Purchase per Person"] = (purchasing_age["Total Purchase Value"]/ages_demo["Total Count"]).round(2)

purchasing_age = purchasing_age [["Purchase Count",
                                  "Average Purchase Price",
                                  "Total Purchase Value",
                                  "Avg Total Purchase per Person"]]


purchasing_age["Total Purchase Value"] = purchasing_age["Total Purchase Value"].map(
    "${0:,.2f}".format)

purchasing_age["Average Purchase Price"] = purchasing_age["Average Purchase Price"].map(
    "${0:,.2f}".format)
purchasing_age["Avg Total Purchase per Person"] = purchasing_age["Avg Total Purchase per Person"].map(
    "${0:,.2f}".format)

purchasing_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_sp_df = purchase_data[["Purchase ID", "SN","Price"]]

#top_spenders = pd.DataFrame(top_sp_df)
top_spenders = pd.DataFrame(top_sp_df.groupby(["SN"]).size())

top_spenders["Purchase Count"] = top_spenders[0]

top_spenders["Total Purchase Value"] = (top_sp_df.groupby(["SN"]).sum()["Price"]).round(2)

#top_spenders["Average Purchase Price"] = (purchasing_age["Total Purchase Value"]/purchasing_age["Purchase Count"]).round(2)

top_spenders["Average Purchase Price"] = (top_spenders["Total Purchase Value"]/top_spenders["Purchase Count"]).round(2)



top_spenders = top_spenders [["Purchase Count",
                                  "Average Purchase Price",
                                  "Total Purchase Value"]]

top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map(
   "${0:,.2f}".format)

top_spenders.sort_values('Total Purchase Value', ascending=[False]).head().style.format({'Total Purchase Value':'${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
pop_items_df = purchase_data[["Item ID","Item Name","Price", "Purchase ID"]]


pop_items = pd.DataFrame(pop_items_df.groupby(["Item ID","Item Name"])["Purchase ID"].count())

pop_items["Purchase Count"] = pop_items["Purchase ID"]

pop_items["Total Purchase Value"] = pd.DataFrame(pop_items_df.groupby(["Item ID","Item Name"])["Price"].sum())["Price"]

pop_items["Item Price"] = (pop_items["Total Purchase Value"]/pop_items["Purchase Count"]).round(2)

pop_items = pop_items [["Purchase Count",
                        "Item Price",
                        "Total Purchase Value"]]

pop_items["Item Price"] = pop_items["Item Price"].map(
   "${0:,.2f}".format)

pop_items.sort_values('Purchase Count', ascending=[False]).head().style.format({'Total Purchase Value':'${:.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
pop_items.sort_values('Total Purchase Value', ascending=[False]).head().style.format({'Total Purchase Value':'${:.2f}'})